@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider;
@inject NavigationManager NavigationManager;

<div class="min-h-screen">
    <!-- Navigation -->
    <NavMenu></NavMenu>

    <CascadingValue Value="this">
        <!-- Header Content -->
        <header class="bg-gray-50 pb-8 pt-4">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 xl:flex xl:items-center xl:justify-between">
                <AppHeader />
            </div>
        </header>

        <!-- Main -->
        <main class="pt-4 pb-4">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                @Body
            </div>
        </main>
    </CascadingValue>
</div>
<Footer></Footer>

@code {
    [CascadingParameter] protected Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    string LoginUrl { get; set; } = "/Account/Login";

    bool collapseLeftMenu = true;

    void ToggleCollapseLeftMenu() => collapseLeftMenu = !collapseLeftMenu;

    protected override Task OnParametersSetAsync()
    {
        LoginUrl = NavigationManager.GetLoginUrl();
        return base.OnParametersSetAsync();
    }

    // async Task Logout()
    // {
    //     await AuthStateProvider.LogoutAsync();
    //     NavigationManager.NavigateTo(LoginUrl, true);
    // }
}