@inherits LayoutComponentBase
@inject ServiceStackStateProvider AuthStateProvider;
@inject NavigationManager NavigationManager;


<div class="min-h-full">
    <!-- Navigation -->
    <NavMenu></NavMenu>

    <CascadingValue Value="this">
        <!-- Header Content -->
        <header class="bg-gray-50 py-8">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 xl:flex xl:items-center xl:justify-between">
                <AppHeader />
            </div>
        </header>

        <!-- Main -->
        <main class="pt-8 pb-16">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                @Body
            </div>
        </main>
    </CascadingValue>
</div>
    <Footer></Footer>

@code {
    [CascadingParameter] protected Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    string LoginUrl { get; set; } = "/signin";

    bool collapseLeftMenu = true;

    void ToggleCollapseLeftMenu() => collapseLeftMenu = !collapseLeftMenu;

    protected override Task OnParametersSetAsync()
    {
        LoginUrl = NavigationManager.GetLoginUrl();
        return base.OnParametersSetAsync();
    }

    async Task logout()
    {
        await AuthStateProvider.LogoutAsync();
        NavigationManager.NavigateTo(LoginUrl, true);
    }
}