@inherits AppComponentBase
@inject NavigationManager navigationManager;
@page "/jobs/create"

<SetHeader>
    <div class="flex-1 min-w-0">
        <nav class="flex" aria-label="Breadcrumb">
            <Breadcrumbs>
                <Breadcrumb href="/jobs">Jobs</Breadcrumb>
                <Breadcrumb href="/jobs/create">Create</Breadcrumb>
            </Breadcrumbs>
        </nav>
        <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0">
            <div class="ml-4 mt-4">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Job Create</h3>
                <p class="mt-1 text-sm text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit quam corrupti consectetur.</p>
            </div>
        </div>
    </div>
    <div class="mt-6 flex xl:mt-0 xl:ml-4">
        <!-- Actions -->

    </div>
</SetHeader>
<main class="space-y-8 divide-y divide-gray-200">
    <div class="space-y-8 divide-y divide-gray-200">
        @if (appMetadata != null)
        {
            <CascadingValue Value="appMetadata">
                <AutoQueryForm TResponse="Job" T="CreateJob" Request="request" OnSave="Save" OnDone="Done" OnCancel="OnCancel"></AutoQueryForm>
            </CascadingValue>
        }
    </div>
</main>


@code {

    ResponseStatus? errorStatus;

    AppMetadata? appMetadata;
    CreateJob request = new();

    async Task Save(CreateJob req)
    {
        //request = req;
    }

    async Task Done(Job response)
    {
        navigationManager.NavigateTo("/jobs/" + response.Id + "/applications");
    }

    async Task OnCancel()
    {
        navigationManager.NavigateTo("/jobs");
    }

    protected override async Task OnInitializedAsync()
    {
        var appMetadataApi = await this.ApiAppMetadataAsync();
        if (appMetadataApi.Succeeded)
            appMetadata = appMetadataApi.Response!;
        else
            errorStatus = appMetadataApi.Error;
    }
}
