<div class="bg-gray-50 overflow-hidden rounded-lg">
    <main class="py-10">
        <div class="max-w-3xl mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
            <div class="flex items-center space-x-5">
                <div>
                    <h1 class="text-2xl font-bold text-gray-900">@(Job.Title)</h1>
                    <p class="text-sm font-medium text-gray-500">Applied for <a href="#" class="text-gray-900">@(Job.Applications.Count)</a> have applied since <time datetime="@(Job.CreatedDate.ToString("yyyy-MM-dd"))">@(Job.CreatedDate.ToString("MMMM d, yyyy"))</time></p>
                </div>
            </div>
        </div>
                <div class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
            <div class="space-y-6 lg:col-start-1 lg:col-span-2">
                <!-- Description list-->
                <section aria-labelledby="applicant-information-title">
                    <div class="bg-white shadow sm:rounded-lg">
                        <div class="px-4 py-5 sm:px-6">
                            <h2 id="applicant-information-title" class="text-lg leading-6 font-medium text-gray-900">Applicant Information</h2>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details and application.</p>
                        </div>
                        <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
                            
                        </div>
                    </div>
                </section>

                
            </div>

            <section aria-labelledby="timeline-title" class="lg:col-start-3 lg:col-span-1">
                @*<JobAppTimeline JobApplicationId="JobAppId" JobApplication="jobApp" OnAdvanceClick="advanceApplication"
                                OnDisqualifyClick="disqualifyJobApplication"></JobAppTimeline>*@
            </section>
        </div>
    </main>
</div>
@code {
    [Parameter]
    public Job Job { get; set; }
}
