@page "/"
<SetHeader>
    <div class="flex flex-col">
        <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-8">
            <div class="ml-4 mt-4">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Welcome to the Talent Blazor Demo</h3>
                <p class="mt-1 text-sm text-gray-500">
                    If you're new to Blazor checkout the
                    <a class="text-blue-600" href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">ASP.NET Blazor WASM</a>
                    and
                    <a class="text-blue-600" href="https://docs.servicestack.net/templates-blazor">ServiceStack docs</a>
                    to get started
                </p>
            </div>
        </div>
    </div>
</SetHeader>

<p class="mt-4 text-center">
</p>

<GettingStarted />

