@page "/admin/users"
@inherits AdminPage
@inject ILogger<Index> logger
@using ServiceStack.Html

<AdminPage Title="Manage Users" IconClass="svg svg-admin-users svg-2.5x align-bottom">
    <section id="adminusers" @onkeydown="OnKeyPress">
        <main>
            <div class="main-container p-2">
                <div class="my-2 d-flex flex-wrap align-items-center">
                    <form class="d-flex mb-2" @onsubmit=Search @onsubmit:preventDefault>
                    @if (!string.IsNullOrEmpty(request.Query))
                    {
                        <i class="text-close" style="position:absolute;margin:0 0 3px 265px" title="clear" @onclick="ClearQuery"></i>
                    }
                        <input @bind-value="request.Query" id="txtQuery" placeholder="Search Users" class="form-control" style="width:290px" />

                        <button @onclick="Search" class="ms-1 btn btn-outline-primary">Go</button>
                    </form>
                    <div class="mb-2 d-flex flex-wrap align-items-center">
                        <span class="main-query ms-2 d-flex">
                            <button class="btn oi oi-chevron-left"  disabled=@(request.Skip == 0) title="&lt; previous" @onclick="_ => ViewNext(-pageSize)"></button>
                            <button class="btn oi oi-chevron-right" disabled=@(results.Count < pageSize) title="next &gt;" @onclick="_ => ViewNext(pageSize)"></button>
                        </span>
                    @if (results.Count > 0)
                    {
                        <span class="ms-1 text-muted">
                            Showing results: @(request.Skip+1)-@(request.Skip+results.Count)
                        </span>
                    }
                    else
                    {
                        <span class="text-muted">No results</span>
                    }
                        <button class="ms-3 btn btn-outline-primary" @onclick="_ => Reset(newUser:true)" @onclick:preventDefault>
                            New User 
                        </button>
                    </div>
                </div>

            @if (newUser)
            {
                <Create done="OnDone" class="mb-4 max-w-screen-md" />
            }
            else if (!string.IsNullOrEmpty(editUserId))
            {
                <Edit Id=@editUserId done="OnDone" class="mb-4 max-w-screen-md" />
            }
                    
            @if (results.Count > 0)
            {
                <div class="shadow-sm p1 mt-4">
                <table class="table table-striped">
                    <thead><tr class="noselect">
                        <th>
                            <span class="oi oi-plus cursor-pointer" title="New User" @onclick="_ => Reset(newUser:true)"/>
                        </th>
                    @foreach (var f in FieldNames)
                    {
                        <th @key=f @onclick="_ => SetOrderBy(f)" 
                            class=@ClassNames("th-link", $"show-{MinVisibleSize(f)}-tcell")>
                            <div class="text-nowrap">
                                @TextUtils.Humanize(f)
                            @if (request.OrderBy == f)
                            {
                                <span class="oi oi-chevron-top align-top ms-1 mt-1" style="font-size:12px"></span>
                            }
                            else if (request.OrderBy == '-' + f)
                            {
                                <span class="oi oi-chevron-bottom align-top ms-1 mt-1" style="font-size:12px"></span>
                            }
                            </div>
                        </th>
                    }
                    </tr></thead>
                    <tbody>
                    @for (var i=0; i<results.Count; i++)
                    {
                        var r = results[i];
                        var id = GetField(r, "Id").ToString();

                        <tr @key=@id>
                            <td>
                                <span>
                                    <span class="oi oi-pencil cursor-pointer" title="Update User" @onclick="_ => Reset(editUserId:id)" />
                                </span>
                            </td>
                                        
                        @for (var j=0; j<FieldNames.Count; j++)
                        {
                            var f = FieldNames[j];
                            <td @key=j title=@RenderValue(GetField(r,f))
                                class=@($"show-{MinVisibleSize(f)}-tcell")>
                                <FormatValue Value=@GetField(r,f) />
                            </td>
                        }
                        </tr>
                    }
                    </tbody>
                </table>
                </div>

                <ErrorSummary Status=@searchApi.Error />
            }
            </div>
        </main>
        
    </section>

</AdminPage>


@code {
    [CascadingParameter] protected AppMetadata? appMetadata { get; set; }

    static int pageSize = 50;
    bool newUser;
    string? editUserId;

    AdminQueryUsers request = new()
    {
        Query = "",
        Skip = 0,
        Take = pageSize,
    };

    List<string> HideInSmallResolutions = new()
    {
        "UserName",
        "Company",
        "State",
        "Country",
        "ModifiedDate",
    };

    string MinVisibleSize(string propName) => AdminUsers != null 
        ? AdminUsers.QueryMediaRules.MinVisibleSize(propName) 
        : MediaSizes.All.Last();

    ApiResult<AdminUsersResponse> searchApi = new();
    List<Dictionary<string, object>> results => searchApi.Response?.Results ?? TypeConstants<Dictionary<string,object>>.EmptyList;

    List<string> FieldNames => AdminUsers?.QueryUserAuthProperties ?? new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Search();
    }

    Dictionary<string,object> santize(Dictionary<string, object> from) => new(from, StringComparer.OrdinalIgnoreCase);

    void Reset(bool newUser = false, string? editUserId = null)
    {
        this.newUser = newUser;
        this.editUserId = editUserId;
    }

    Task Search() => Search(null);
    
    async Task Search(int? skip)
    {
        Reset();
        request.Skip = skip ?? 0;
        searchApi = await ApiAsync(request);
        if (searchApi.Response != null)
            searchApi.Response.Results = searchApi.Response.Results.Select(santize).ToList();
    }

    async Task OnDone(Dictionary<string,object>? model) {

        await this.Search();
    }

    async Task ViewNext(int pageSize)
    {
        await Search(request.Skip + pageSize);
    }

    async Task ClearQuery()
    {
        request.Query = "";
        await Search();
    }

    async Task SetOrderBy(string field)
    {
        if (request.OrderBy == field)
            request.OrderBy = '-' + field;
        else if (request.OrderBy == '-' + field)
            request.OrderBy = "";
        else
            request.OrderBy = field;
        await Search();
    }

    string RenderValue(object o) => o?.ToString() ?? "";

    object GetField(Dictionary<string, object> o, string name)
    {
        return o.TryGetValue(name, out var value)
            ? value
            : "";
    }

    Task OnKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Escape")
            Reset();
        return Task.CompletedTask;
    }
}
